      <p>
        <form onsubmit="return osterhase(this)" action="<%= url '/' %>" method="get">
          <input id="query" name="query" value="<%= params[:query] %>"/>
          <button>Suchen!</button>
        </form>
        <div class="row-fluid">
        <% @genre_list.each do |all_genre|%>
          <div class="span3"> 
            <% main_genre = all_genre[0]%>
            <p class="MainGenre">
            <% link = "/search/#{CGI::escape(main_genre)}"%>
            <a href="<%= url link%>"><%= main_genre %></a>
            </p>
            <ul>
              <% 1.upto(all_genre.length - 1).each do |num|%>
                <% link = "search/#{CGI::escape(main_genre + "/" + all_genre[num])}" %>
                <li class="SubGenre">
                <a href="<%= url link%>"><%= all_genre[num] %></a>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
       </div>
      <div id="results">
        <% if @results %>
          <%= erb :results %>
        <% end %>
      </div>
      <div id="remembered">
        <% if @remembered%>
          <%= erb :remembered %>
        <% end %>
      </div>
