<!DOCTYPE html>
<html>
  <head>
    <title>Joysound</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
        <script src="<%= url "/site.js" %>"></script>
        <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
<style type="text/css">
        tr.even td,tr:nth-child(even) {background:#e5ecf9;}
        table{width:100%;}
        tr {width: 100%;}
        td {width: 20%;}

        #title {
          width:70%;
          float:left;
        }

        #user {
          text-align: right;
          width: 25%;
          float:right;
        }

        #main {
          clear:both;
        }
        #message {
          display: none;
        }

</style>
  </head>

  <body>
    <div class="row-fluid">
      <div class="span10 offset1">
        
      <div id="title">
        <h1>Joysound-Suche</h1 >
      </div>
      <div id="user">
      <% if logged_in? %>
        <h4><%=  current_user.email%></h4>
        <form method="post" action="<%= url '/user/logout' %>">
          <button>Abmelden</button>
        </form>
      <% else %>
       <p>
          <a href='<%= url "/user/new" %>'>Anmelden</a>
        </p>
      <% end %>
      </div>
      <div id="main">
        <form onsubmit="return osterhase(this)" action="<%= url '/' %>" method="get">
          <div class="input-append">
          <select name="kind" class="span1">
            <option value="title">Titel</option>
            <option value="artist" <%= "selected='1'" if params[:kind] == "artist" %>>Künstler</option>
          </select>
          <input  class="span2" id="query" name="query" value="<%= params[:query] %>"/>

          <button class="btn btn-primary">Suchen!</button>
          </div>
        </form>
        <div class="row-fluid">
        <% @genre_list = [["J-POP", "男"], ["アニメ", "冒険アニメ", "ギャグ・コメディ南国少年パプワくん", "ファミリーアニメ", "魔法・ファンタジー夢のクレヨン王国"], ["演歌", "男", "女"], ["CM", "通信・携帯電話J-POP", "グループおさわり探偵なめこ栽培キット"], ["洋楽", "グループ"], ["童謡・唱歌・合唱・他", "民謡"]] %>
        <% @genre_list.each do |all_genre|%>
          <div class="span3"> 
            <% main_genre = all_genre[0]%>
            <p class="MainGenre">
            <% link = "/search/#{CGI::escape(main_genre)}"%>
            <a href="<%= url link%>"><%= main_genre %></a>
            </p>
            <ul>
              <% 1.upto(all_genre.length - 1).each do |num|%>
                <% link = "search/#{CGI::escape(main_genre + "/" + all_genre[num])}" %>
                <li class="SubGenre">
                <a href="<%= url link%>"><%= all_genre[num] %></a>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
       </div>
        <%= yield %>
      </div>
  
      </div>
    </div>
  </body>

</html>
